@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&family=Teko:wght@400;500;600;700&display=swap");
@-webkit-keyframes banner-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes banner-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #0092ff;
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #0092ff;
  }
}

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #0092ff;
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #0092ff;
  }
}

@-webkit-keyframes desplode {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #0092ff;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #0092ff;
  }
}

@keyframes desplode {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #0092ff;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #0092ff;
  }
}

@-webkit-keyframes explode-2 {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #fff;
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #fff;
  }
}

@keyframes explode-2 {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #fff;
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #fff;
  }
}

@-webkit-keyframes desplode-2 {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #fff;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #fff;
  }
}

@keyframes desplode-2 {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #fff;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #fff;
  }
}

@-webkit-keyframes explode-3 {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #091d3e;
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #091d3e;
  }
}

@keyframes explode-3 {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #091d3e;
  }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #091d3e;
  }
}

@-webkit-keyframes desplode-3 {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #091d3e;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #091d3e;
  }
}

@keyframes desplode-3 {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: #091d3e;
  }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #091d3e;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  color: #575757;
  font-family: "Lato", sans-serif !important;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

span {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  color: #fff;
}

input:focus {
  outline: none;
}

.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 1200px;
}

.btn-1 {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 3px;
}

.btn-1:hover .btn-1-text {
  color: #fff !important;
}

.btn-1-circle {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
}

.btn-1-inner {
  display: inline-block;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
  padding: 15px 30px;
}

.btn-1-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 111111;
  font-weight: 500;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-1-text i {
  font-size: 25px;
  margin-left: 5px;
}

.explode-circle {
  -webkit-animation: explode 0.6s forwards;
          animation: explode 0.6s forwards;
}

.desplode-circle {
  -webkit-animation: desplode 0.5s forwards;
          animation: desplode 0.5s forwards;
}

.btn-2:hover .btn-1-text {
  color: #000 !important;
}

.btn-2 .btn-1-text {
  color: #fff !important;
}

.btn-2 .btn-1-inner {
  background: #0092ff;
}

.btn-2 .explode-circle {
  -webkit-animation: explode-2 0.6s forwards;
          animation: explode-2 0.6s forwards;
}

.btn-2 .desplode-circle {
  -webkit-animation: desplode-2 0.5s forwards;
          animation: desplode-2 0.5s forwards;
}

.btn-3:hover .btn-1-text {
  color: #fff !important;
}

.btn-3 .btn-1-text {
  color: #000 !important;
}

.btn-3 .btn-1-inner {
  background: #fff;
}

.btn-3 .explode-circle {
  -webkit-animation: explode-3 0.6s forwards;
          animation: explode-3 0.6s forwards;
}

.btn-3 .desplode-circle {
  -webkit-animation: desplode-3 0.5s forwards;
          animation: desplode-3 0.5s forwards;
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-section .btn-1:nth-child(3) .btn-1-inner {
  background: #0092ff;
}

.header-section .btn-1:nth-child(3) .explode-circle {
  -webkit-animation: explode-3 0.6s forwards;
          animation: explode-3 0.6s forwards;
}

.header-section .btn-1:nth-child(3) .desplode-circle {
  -webkit-animation: desplode-3 0.5s forwards;
          animation: desplode-3 0.5s forwards;
}

.header-section .btn-1:nth-child(3) .btn-1-text {
  color: #fff;
}

.header-section.active {
  background-color: #fff;
  border-bottom: none;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-section.active .logo-text {
  color: #000;
}

.header-section.active .nav-link {
  color: #000 !important;
}

.header-section.active .nav-link::before {
  background-color: #0092ff;
}

.header-section.active .btn-1 .btn-1-inner {
  background: #0092ff;
}

.header-section.active .btn-1 .btn-1-text {
  color: #fff !important;
}

.header-section.active .btn-1 .explode-circle {
  -webkit-animation: explode-3 0.6s forwards;
          animation: explode-3 0.6s forwards;
}

.header-section.active .btn-1 .desplode-circle {
  -webkit-animation: desplode-3 0.5s forwards;
          animation: desplode-3 0.5s forwards;
}

.header-section.active .btn-1:nth-child(3) .btn-1-inner {
  background: #091d3e;
}

.header-section.active .btn-1:nth-child(3) .btn-1-text {
  color: #fff;
}

.header-section.active .btn-1:nth-child(3) .explode-circle {
  -webkit-animation: explode 0.6s forwards;
          animation: explode 0.6s forwards;
}

.header-section.active .btn-1:nth-child(3) .desplode-circle {
  -webkit-animation: desplode 0.5s forwards;
          animation: desplode 0.5s forwards;
}

.header-section .btn-1-inner {
  padding: 13px 25px;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin-right: 50px;
}

.logo-text {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  margin-left: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  padding: 35px 20px !important;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link.active::before {
  width: 100%;
}

.banner-section {
  padding: 280px 0 185px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/banner-1.jpg);
  -webkit-animation: banner-animation 40s linear 3s infinite;
          animation: banner-animation 40s linear 3s infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.banner-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.banner-section .btn-1-inner {
  padding: 15px 20px 15px 30px;
}

.banner-title-top {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 35px;
}

.banner-title {
  color: #fff;
  font-weight: 700;
  font-size: 65px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 35px;
}

.about-section {
  padding-top: 115px;
  padding-bottom: 115px;
}

.about-img-area {
  position: relative;
}

.about-img {
  border-radius: 5px;
}

.about-img-1 {
  width: 330px;
}

.about-img-2 {
  position: absolute;
  right: 30px;
  top: -30px;
  width: 310px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-img-3 {
  position: absolute;
  right: 30px;
  bottom: -30px;
  width: 310px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-title-top {
  font-weight: 500;
  color: #0092ff;
  font-size: 16px;
  margin-bottom: 20px;
}

.about-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

.about-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #575757;
}

.about-item-list i {
  width: 22px;
  height: 22px;
  background-color: #091d3e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}

.service-section {
  padding-top: 115px;
  padding-bottom: 115px;
  background-color: #091d3e;
}

.section-title-area {
  margin-bottom: 80px;
}

.section-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title-2 {
  color: #000;
}

.section-details {
  color: #fff;
}

.section-details-2 {
  color: #000;
}

.service-item {
  position: relative;
  background-color: #091c38;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  z-index: 1;
  margin-bottom: 30px;
}

.service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/service-bg-1.jpg);
  opacity: 0;
  visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(9, 28, 57, 0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

.service-item:hover::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.service-item:hover .service-btn-text {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.service-item:hover .service-btn i {
  background-color: #0092ff;
  border-color: #0092ff;
}

.service-item:hover .service-details {
  color: #fff;
}

.service-item-area [class*="col-"]:nth-child(2) .service-item::after {
  background-image: url(../images/service-bg-2.jpg);
}

.service-item-area [class*="col-"]:nth-child(3) .service-item::after {
  background-image: url(../images/service-bg-3.jpg);
}

.service-item-area [class*="col-"]:nth-child(4) .service-item::after {
  background-image: url(../images/service-bg-4.jpg);
}

.service-item-area [class*="col-"]:nth-child(5) .service-item::after {
  background-image: url(../images/service-bg-5.jpg);
}

.service-item-area [class*="col-"]:nth-child(6) .service-item::after {
  background-image: url(../images/service-bg-6.jpg);
}

.service-item-area [class*="col-"]:nth-child(7) .service-item::after {
  background-image: url(../images/service-bg-7.jpg);
}

.service-icon {
  width: 60px;
}

.service-icon-unhover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-icon-hover {
  position: absolute;
  left: 40px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-title {
  color: #fff;
  margin: 40px 0 20px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-details {
  color: #848e9f;
  margin-bottom: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-btn i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #848e9f;
  margin-right: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-btn-text {
  font-weight: 500;
  color: #fff;
  position: relative;
  left: -8px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing-section {
  padding-top: 115px;
  padding-bottom: 115px;
}

.pricing-plan {
  border-radius: 5px;
  padding: 50px 40px;
  -webkit-box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.06);
          box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.06);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricing-plan:hover {
  -webkit-box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.1);
          box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.1);
}

.pricing-plan:hover .line::before {
  width: 100%;
}

.pricing-plan:hover .pricing-title {
  color: #0092ff;
}

.pricing-plan .btn-1 {
  display: block;
}

.pricing-plan .btn-1 .btn-1-inner {
  background: #091d3e;
  padding: 15px 50px;
  width: 100%;
}

.pricing-plan .btn-1 .btn-1-text {
  color: #fff !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-title {
  color: #000;
  font-weight: 700;
  margin-bottom: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricing-custom {
  color: #0092ff;
  text-decoration: underline;
  margin-left: 5px;
}

.pricing-custom:hover {
  color: #0092ff;
}

.pricing-amount {
  font-family: "Teko", sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 1;
  color: #091d3e;
  padding-left: 15px;
  position: relative;
  margin-bottom: 20px;
}

.pricing-amount::before {
  content: "$";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
}

.pricing-amount span {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

.pricing-terms {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #555;
}

.pricing-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pricing-item-list {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.pricing-item-list i {
  font-size: 22px;
  margin-right: 10px;
  color: #0092ff;
}

.pricing-item-list.off {
  color: #757575;
}

.pricing-item-list.off i {
  color: #b1b1b1;
}

.line {
  position: relative;
  left: -40px;
  width: 110%;
  height: 2px;
  background-color: #e6e8eb;
  margin: 40px 0;
}

.line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0092ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.case-section {
  padding-top: 115px;
  padding-bottom: 115px;
}

.case-study {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.case-study:hover::before {
  background-color: #0092ff;
  opacity: 0.8;
}

.case-study:hover .case-text {
  bottom: 15px;
}

.case-study::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(9, 28, 57, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

.case-study-img {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: -2;
}

.case-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -150px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.case-text i {
  width: 45px;
  height: 45px;
  font-size: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #fff;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.col-lg-3 .case-text {
  bottom: -174px;
}

.col-lg-6 .case-text {
  bottom: -126px;
}

.case-title {
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.case-details {
  color: #fff;
  margin-bottom: 15px;
}

.contact-section {
  padding-top: 115px;
  padding-bottom: 115px;
}

.contact-item-area {
  -webkit-box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.1);
          box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.contact-item-area > * {
  padding: 0;
}

.why-choose-us {
  position: relative;
  padding: 50px;
  background-image: url(../images/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.why-choose-us::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #091d3e;
  opacity: 0.8;
  z-index: -1;
}

.choose-item-img {
  width: 50px;
  margin-right: 20px;
}

.choose-item-area {
  margin-top: 50px;
}

.choose-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 30px;
}

.choose-title {
  color: #fff;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.choose-details {
  color: #fff;
}

.contact-area {
  padding: 50px;
}

.contact-area .btn-1 .btn-1-inner {
  background: #0092ff;
  padding: 15px 50px;
}

.contact-area .btn-1 .explode-circle {
  -webkit-animation: explode-3 0.6s forwards;
          animation: explode-3 0.6s forwards;
}

.contact-area .btn-1 .desplode-circle {
  -webkit-animation: desplode-3 0.5s forwards;
          animation: desplode-3 0.5s forwards;
}

.contact-area .btn-1 .btn-1-text {
  color: #fff;
}

.contact-form {
  margin-top: 50px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-input {
  width: 49%;
  padding: 15px;
  border: 2px solid #e6e8eb;
  color: #707176 !important;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-input::-webkit-input-placeholder {
  color: #000 !important;
}

.contact-input:-ms-input-placeholder {
  color: #000 !important;
}

.contact-input::-ms-input-placeholder {
  color: #000 !important;
}

.contact-input::placeholder {
  color: #000 !important;
}

.contact-input:focus {
  outline: none;
  border-color: #0092ff !important;
}

.contact-textarea {
  height: 180px;
  resize: none;
}
/*# sourceMappingURL=style.css.map */