// btn-1 start
.btn-1 {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  &:hover {
    .btn-1-text {
      color: #fff !important;
    }
  }
}
.btn-1-circle {
  border-radius: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
}
.btn-1-inner {
  display: inline-block;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  transition: 0.4s;
  text-decoration: none;
  padding: 15px 30px;
}
.btn-1-text {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 111111;
  font-weight: 500;
  color: #000;
  transition: 0.4s;
  i {
    font-size: 25px;
    margin-left: 5px;
  }
}
.explode-circle {
  animation: explode 1s forwards;
}
.desplode-circle {
  animation: desplode 0.5s forwards;
}
// btn-1 end

// btn-2 start
.btn-2 {
  &:hover {
    .btn-1-text {
      color: #000 !important;
    }
  }
  .btn-1-text {
    color: #fff !important;
  }
  .btn-1-inner {
    background: #0092ff;
  }
  .explode-circle {
    animation: explode-2 1s forwards;
  }
  .desplode-circle {
    animation: desplode-2 0.5s forwards;
  }
}
// btn-2 end

// btn-3 start
.btn-3 {
  &:hover {
    .btn-1-text {
      color: #fff !important;
    }
  }
  .btn-1-text {
    color: #000 !important;
  }
  .btn-1-inner {
    background: #fff;
  }
  .explode-circle {
    animation: explode-3 1s forwards;
  }
  .desplode-circle {
    animation: desplode-3 0.5s forwards;
  }
}
// btn-3 end
